#slider
  position relative
  width 100%

  #seta-esq
    width 59px
    height 92px
    background url("../images/seta-esq.png") no-repeat
    position absolute
    left 5%
    top 40%

  #seta-dir
    width 59px
    height 92px
    background url("../images/seta-dir.png") no-repeat
    position absolute
    right 5%
    top 40%
